@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Roboto+Mono:wght@200&display=swap');


h1,h2,h3,h4,h5 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 1500;
}
p{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;

}
